# Archivos de Python
*.pyc
__pycache__/

# Entorno virtual
venv/

# Base de datos local
db.sqlite3

# ArchivosConf.
.env

# Archivos del sistema
.DS_Store

#fotos de prueba
media/productos/

# QZ Tray cert (auto-generado en el servidor, no se versiona)
.qz_key.pem
.qz_cert.pem